html,body{
  background-color:#3f474e;
  height: 100%;
}

.f-icon-spin:hover{
  transform: rotate(360deg);
  transition: all 1.25s ease-in-out;
}


.f-icon-pop:hover{
  transform: scale(1.5);
}

.card{
  box-shadow: 5px 10px #1d1d1f;
  
}
.card-body{
  background-color:#1d1d1f;
}

.main-content{
  margin: 0 auto -75px;
  padding: 0 0 75px;
  padding-top: 20px;
}

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

footer{
  position: fixed;
  bottom: 0;
  height:75px;
  width:100%;
}

.my-pic{
    box-shadow: 5px 10px #1d1d1f;
}